<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards">
	<description>Generally-applicable sniffs for WordPress</description>

	<rule ref="WordPress-Core" />
	<rule ref="WordPress-Extra" />
	<rule ref="WordPress-Docs" />
	<rule ref="WordPress.WP.AlternativeFunctions.file_get_contents_file_get_contents">
		<exclude-pattern>phpunit-bootstrap-plugin.php</exclude-pattern>
		<exclude-pattern>phpunit-bootstrap-theme.php</exclude-pattern>
	</rule>

	<!-- <link:>https://github.com/squizlabs/PHP_CodeSniffer/issues/870</link:> -->
	<rule ref="Squiz.Commenting.FunctionComment.ScalarTypeHintMissing">
  		<severity>0</severity>
	</rule>

	<!-- Check for cross-version support for PHP 5.4 or higher. -->
	<config name="testVersion" value="5.4-"/>

	<!-- Run against the PHPCompatibility ruleset -->
    <rule ref="PHPCompatibility">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>

	<!-- Check all PHP files in directory tree by default. -->
	<arg name="extensions" value="php"/>
	<file>.</file>

	<!-- Show progress and sniff codes in all reports -->
	<arg value="ps"/>

	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>index.php</exclude-pattern>
</ruleset>
