<?xml version="1.0"?>
<phpunit
	bootstrap="phpunit-bootstrap-plugin.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="class-test-" suffix=".php">../tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
